@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200&family=Bebas+Neue&family=PT+Sans+Narrow&display=swap');
*{
    margin: 0;
    padding: 0;
}
.body-1{
    background-color: #F5DDDD;
     }
/*navbar*/
.header-nav{
    background-color: #F5DDDD;

}
.logo-navbar{
    display: flex;
    justify-content: center;
}
.nav-link{
    font-size: 3rem;
    margin: 2rem;

}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
   background-color:#A96DA3;
}


#logo{
  width: 25vw;
  height: 35vh;


}
/*main home*/
#carouselExample{    
    margin:  5rem 0;
    width: 80vw;
    height: 80vh;

}

.carousel-main{
    display: flex;
    justify-content: center;
    text-align: center;
}

.img-home{
    width: 80vw;
    height: 80vh;
}



/*footer*/
footer{
    bottom: 0;
    position:end;
    width: 100%;    
    margin: auto;
    padding: 35px 0;
    display: flex;    
    background-color:#A96DA3;
    opacity: .0.5;
    text-align: center;
    
  
}
#footer-list{
    display: inline-block;
    list-style: none;
    margin: 0 5rem; 
    color:white;
    font-size: 40px;   
}


.img-footer{
    max-width: 200px;
    max-height: 100px;
    cursor: pointer;   
}


/*TIENDA*/
.div-titulo{
    display: flex;
    justify-content: center;
}
.titulo-t{
    font-size: 10rem;
    font-family: 'Bebas Neue', sans-serif;
}


.card-img-top{
    width: 15vw;
    height: 15vh;
}

.sec-tienda{
    margin: 5rem;
}

.row-cols-1{
    margin-bottom: 5rem;
}

.card-img-top{
    width: 10vw;
    height: 15vh;
}




/*Nosotros*/
.sec-n{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 5rem 0;
}

.img-fluid{
    height: 45vh;
    width: 30vw;
}

@media (max-width: 1705px) {
    .img-fluid{
      width: 100%;
      height: auto;
    }
  }

.titulo-n{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 10rem;
    font-family: 'Bebas Neue', sans-serif;
}
.sec-n2{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 5rem 0;
}
.div-n{
    font-size: 2rem;
    font-family: 'Bebas Neue', sans-serif;
    width:50%;  
    
}

/*CONTACTOS*/

/*tienda*/
.sec-main{
    display: grid;
    grid-template-areas:
    "aside   main   main"
    "footer  footer footer";

}


.sidebar {   
    width: 10vw;
    height: 50%;
    background-color:white;
    padding: 2rem;
    margin: 2rem;
  }
  
  .sidebar h2 {
    font-size: 3rem;
    margin-bottom: 10px;
  }
  
  .sidebar nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .sidebar nav ul li {
    margin-bottom: 10px;
  }
  
  .sidebar nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 2rem;
  }
  
  .sidebar nav ul li a:hover {
    background-color:#A96DA3;
  }
  /*contactos*/
  .section-con{
    margin: 1em;    
    width: 100%;

}


.titulo-con{
    font-size: 6rem;
    text-align: center;
    color:black ;
    width: 100%;

 
 
}
.div-con{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    
}
.li-con{
    list-style: none;
    color:black;
    font-size: 3rem;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    
}

.logos-con{
    height: 6vh;
    width: 5vw;
}

.consultas{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-family:'Behila', sans-serif;
    margin: 5rem 0 5rem 0;
    padding: 0;
}


form{
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
  padding: 20px;
 background-color:#F5DDDD;
  border-radius: 4px;
    color:black;
}

.div-consulta{
    justify-content: center;
}

.consulta-email{
  width: 100%;
    padding: 5px;
    border-radius: 4px;
    box-sizing: border-box;
    


}

.consulta-nombre{
  width: 100%;
    padding: 5px;
    border-radius: 4px;
    box-sizing: border-box;
   
}

.consulta-apellido{
  width: 100%;
    padding: 5px;
    border-radius: 4px;
    box-sizing: border-box;

}
.consulta-button{  
  padding: 10px 20px;
  border: none;   
  cursor: pointer;
  
  
}


#button{
  color:#A96DA3;
  font-size: 2rem;
  background-color: white;


}

.img-con{
  height: 15rem;
  width: 27rem;
  margin-left: 56%;
      
}

